---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 3

In this assignment you will explore text message data and create models to predict if a message is spam or not.

In [1]:
import pandas as pd
import numpy as np

spam_data = pd.read_csv('spam.csv')

spam_data['target'] = np.where(spam_data['target']=='spam',1,0)
spam_data.head(10)

                                                text  target
0  Go until jurong point, crazy.. Available only ...       0
1                      Ok lar... Joking wif u oni...       0
2  Free entry in 2 a wkly comp to win FA Cup fina...       1
3  U dun say so early hor... U c already then say...       0
4  Nah I don't think he goes to usf, he lives aro...       0
5  FreeMsg Hey there darling it's been 3 week's n...       1
6  Even my brother is not like to speak with me. ...       0
7  As per your request 'Melle Melle (Oru Minnamin...       0
8  WINNER!! As a valued network customer you have...       1
9  Had your mobile 11 months or more? U R entitle...       1

In [27]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(spam_data['text'], 
                                                    spam_data['target'], 
                                                    random_state=0)

(872     0
 831     0
 1273    1
 3314    1
 4929    1
 4249    0
 3640    1
 1132    0
 3318    0
 5241    0
 Name: target, dtype: int64, 4456    0
 690     0
 944     0
 3768    0
 1189    0
 4437    0
 3587    0
 1982    0
 2038    0
 2078    1
 Name: target, dtype: int64)

### Question 1
What percentage of the documents in `spam_data` are spam?

*This function should return a float, the percent value (i.e. $ratio * 100$).*

In [3]:
def answer_one():
    
    
    return spam_data['target'].mean()*100

In [4]:
answer_one()

13.406317300789663

### Question 2

Fit the training data `X_train` using a Count Vectorizer with default parameters.

What is the longest token in the vocabulary?

*This function should return a string.*

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

def answer_two():
    vect = CountVectorizer().fit(X_train)
    df = pd.DataFrame(vect.get_feature_names(),columns=['featurename'])
    df['length'] = df['featurename'].apply(len)
    
    return df[df['length'] == df['length'].max()]['featurename'].tolist()[0]

In [71]:
answer_two()

### Question 3

Fit and transform the training data `X_train` using a Count Vectorizer with default parameters.

Next, fit a fit a multinomial Naive Bayes classifier model with smoothing `alpha=0.1`. Find the area under the curve (AUC) score using the transformed test data.

*This function should return the AUC score as a float.*

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_auc_score

def answer_three():
    vector = CountVectorizer().fit(X_train)
    X_train_vect = vector.transform(X_train)
    X_test_vect = vector.transform(X_test)
    clf = MultinomialNB(alpha=0.1).fit(X_train_vect, y_train)
    y_pred = clf.predict(X_test_vect)
    return roc_auc_score(y_test, y_pred)

In [47]:
answer_three()

0.97208121827411165

### Question 4

Fit and transform the training data `X_train` using a Tfidf Vectorizer with default parameters.

What 20 features have the smallest tf-idf and what 20 have the largest tf-idf?

Put these features in a two series where each series is sorted by tf-idf value and then alphabetically by feature name. The index of the series should be the feature name, and the data should be the tf-idf.

The series of 20 features with smallest tf-idfs should be sorted smallest tfidf first, the list of 20 features with largest tf-idfs should be sorted largest first. 

*This function should return a tuple of two series
`(smallest tf-idfs series, largest tf-idfs series)`.*

In [108]:
from sklearn.feature_extraction.text import TfidfVectorizer

def answer_four():
    vect = TfidfVectorizer().fit(X_train)
    X_train_vectorized = vect.transform(X_train)
    feature = np.array(vect.get_feature_names())
    tf = X_train_vectorized.max(0).toarray()[0]
    sort_index = tf.argsort()
    
    df_small = pd.DataFrame({'tf':tf[sort_index],'name':feature[sort_index]},)
    df_small.sort_values(['tf','name'],inplace=True)
    df_small = df_small[:20]
    df_large = pd.DataFrame({'tf':tf[sort_index[:-21:-1]],'name':feature[sort_index[:-21:-1]]})
    df_large.sort_values(['tf'],ascending=False).sort_values(['name'],inplace=True,)
    
    return pd.Series(df_small['tf'].tolist(),index=df_small['name']), pd.Series(df_large['tf'].tolist(),index=df_large['name'])

In [107]:
'''vect = TfidfVectorizer().fit(X_train)
X_train_vectorized = vect.transform(X_train)
feature = np.array(vect.get_feature_names())
tf = X_train_vectorized.max(0).toarray()[0]
sort_index = tf.argsort()
df_small = pd.DataFrame({'tf':tf[sort_index],'name':feature[sort_index]},)
df_small.sort_values(['tf','name'],inplace=True)
df_small[:20]'''
#pd.Series(df_small['tf'].tolist(),index=df_small['name'])

            name        tf
2         aaniye  0.074475
6       athletic  0.074475
11          chef  0.074475
4      companion  0.074475
12    courageous  0.074475
3     dependable  0.074475
10    determined  0.074475
7   exterminator  0.074475
1         healer  0.074475
5       listener  0.074475
15     organizer  0.074475
9           pest  0.074475
8   psychiatrist  0.074475
14  psychologist  0.074475
16       pudunga  0.074475
13       stylist  0.074475
0    sympathetic  0.074475
17        venaam  0.074475
26    afternoons  0.091250
27   approaching  0.091250

In [109]:
answer_four()

(name
 aaniye          0.074475
 athletic        0.074475
 chef            0.074475
 companion       0.074475
 courageous      0.074475
 dependable      0.074475
 determined      0.074475
 exterminator    0.074475
 healer          0.074475
 listener        0.074475
 organizer       0.074475
 pest            0.074475
 psychiatrist    0.074475
 psychologist    0.074475
 pudunga         0.074475
 stylist         0.074475
 sympathetic     0.074475
 venaam          0.074475
 afternoons      0.091250
 approaching     0.091250
 dtype: float64, name
 146tf150p    1.000000
 havent       1.000000
 home         1.000000
 okie         1.000000
 thanx        1.000000
 er           1.000000
 anything     1.000000
 lei          1.000000
 nite         1.000000
 yup          1.000000
 thank        1.000000
 ok           1.000000
 where        1.000000
 beerage      1.000000
 anytime      1.000000
 too          1.000000
 done         1.000000
 645          1.000000
 tick         0.980166
 blank        0.932702
 dtype: float64)

### Question 5

Fit and transform the training data `X_train` using a Tfidf Vectorizer ignoring terms that have a document frequency strictly lower than **3**.

Then fit a multinomial Naive Bayes classifier model with smoothing `alpha=0.1` and compute the area under the curve (AUC) score using the transformed test data.

*This function should return the AUC score as a float.*

In [8]:
def answer_five():
    vect = TfidfVectorizer(min_df=3).fit(X_train)
    X_train_vectorized = vect.transform(X_train)
    clf = MultinomialNB(alpha=0.1).fit(X_train_vectorized, y_train)
    return roc_auc_score(y_test, clf.predict(vect.transform(X_test)))

In [9]:
answer_five()

0.94162436548223349

### Question 6

What is the average length of documents (number of characters) for not spam and spam documents?

*This function should return a tuple (average length not spam, average length spam).*

In [12]:
def answer_six():
    spam_data['length'] = spam_data['text'].apply(len)
    target = spam_data.groupby('target')['length'].agg(np.mean)
    return target[0], target[1]

In [13]:
answer_six()

(71.023626943005183, 138.8661311914324)

<br>
<br>
The following function has been provided to help you combine new features into the training data:

In [14]:
def add_feature(X, feature_to_add):
    """
    Returns sparse feature matrix with added feature.
    feature_to_add can also be a list of features.
    """
    from scipy.sparse import csr_matrix, hstack
    return hstack([X, csr_matrix(feature_to_add).T], 'csr')

### Question 7

Fit and transform the training data X_train using a Tfidf Vectorizer ignoring terms that have a document frequency strictly lower than **5**.

Using this document-term matrix and an additional feature, **the length of document (number of characters)**, fit a Support Vector Classification model with regularization `C=10000`. Then compute the area under the curve (AUC) score using the transformed test data.

*This function should return the AUC score as a float.*

872                       I'll text you when I drop x off
831     Hi mate its RV did u hav a nice hol just a mes...
1273    network operator. The service is free. For T &...
3314    FREE MESSAGE Activate your 500 FREE Text Messa...
4929    Hi, the SEXYCHAT girls are waiting for you to ...
4249                              How much for an eighth?
3640    You can stop further club tones by replying \S...
1132                  Good morning princess! How are you?
3318                     Kay... Since we are out already
5241                            Its a part of checking IQ
3534                             I'm at home. Please call
1380                               i dnt wnt to tlk wid u
526     Today's Offer! Claim ur å£150 worth of discoun...
2448                         Do u knw dis no. &lt;#&gt; ?
4029                         Cool, I'll text you in a few
641      said kiss, kiss, i can't do the sound effects...
5570    The guy did some bitching but I acted like i'd...
5111                          I've reached sch already...
1864                  You call him now ok i said call him
4082    Good afternoon, my love. It was good to see yo...
1766    SMS AUCTION You have won a Nokia 7250i. This i...
2460    i cant talk to you now.i will call when i can....
3124    1st wk FREE! Gr8 tones str8 2 u each wk. Txt N...
1115    So lets make it saturday or monday as per conv...
2137                         Then why you came to hostel.
4074    God picked up a flower and dippeditinaDEW, lov...
2347                       But i dint slept in afternoon.
70         Wah lucky man... Then can save money... Hee...
4636    Oh ho. Is this the first time u use these type...
3888                    Unlimited texts. Limited minutes.
                              ...
423     URGENT! Your Mobile number has been awarded wi...
3219    Its like that hotel dusk game i think. You sol...
659     88800 and 89034 are premium phone services cal...
797     \Petey boy whereare you me and all your friend...
755                               So why didnt you holla?
2008                 See the forwarding message for proof
99      Please don't text me anymore. I have nothing e...
2496    HCL chennai requires FRESHERS for voice proces...
1871    Dont know supports ass and srt i thnk. I think...
2046                     Aight fuck it, I'll get it later
4851                               I liked your new house
5072    Gud ni8 dear..slp well..take care..swt dreams....
2163    hi my darlin im on my way to London and we hav...
2893                     K...k...yesterday i was in cbe .
537     Or maybe my fat fingers just press all these b...
1701    Can come my room but cannot come my house cos ...
2897          If you r @ home then come down within 5 min
2222    Great. I was getting worried about you. Just k...
2135    Carlos took a while (again), we leave in a minute
2599    Gosh that , what a pain. Spose I better come t...
705     I don't think I can get away for a trek that l...
3468    All day working day:)except saturday and sunday..
4373    K and you're sure I don't have to have consent...
1033    OH MR SHEFFIELD! You wanna play THAT game, oka...
4859    \Response\" is one of d powerful weapon 2 occu...
4931                Match started.india  &lt;#&gt;  for 2
3264    44 7732584351, Do you want a New Nokia 3510i c...
1653    I was at bugis juz now wat... But now i'm walk...
2607    :-) yeah! Lol. Luckily i didn't have a starrin...
2732    How dare you stupid. I wont tell anything to y...
Name: text, Length: 4179, dtype: object

In [41]:
#spam_data['digit'] = spam_data['text'].str.findall(r'\d')

In [59]:
#spam_data['digitlength'] = spam_data['digit'].apply(len)

,text,target,length,digit,digitlength
0,"Go until jurong point, crazy.. Available only ...",0,111,[],0
1,Ok lar... Joking wif u oni...,0,29,[],0
2,Free entry in 2 a wkly comp to win FA Cup fina...,1,155,"[2, 2, 1, 2, 0, 0, 5, 8, 7, 1, 2, 1, 0, 8, 4, ...",25
3,U dun say so early hor... U c already then say...,0,49,[],0
4,"Nah I don't think he goes to usf, he lives aro...",0,61,[],0

In [57]:
from sklearn.svm import SVC

def answer_seven():
    vect = TfidfVectorizer(min_df=5).fit(X_train)
    X_train_vectorized = vect.transform(X_train)
    X_train_len = X_train.apply(len)
    X_train_add = add_feature(X_train_vectorized, X_train_len)
    clf = SVC(C=10000, ).fit(X_train_add, y_train)
    X_test_vetorized = vect.transform(X_test)
    X_test_len = X_test.apply(len)
    X_test_add = add_feature(X_test_vetorized, X_test_len)
    
    return roc_auc_score(y_test, clf.predict(X_test_add))

In [58]:
answer_seven()

0.95813668234215565

### Question 8

What is the average number of digits per document for not spam and spam documents?

*This function should return a tuple (average # digits not spam, average # digits spam).*

In [47]:
def answer_eight():
    spam_data['digit'] = spam_data['text'].str.findall(r'\d')
    spam_data['digitlength'] = spam_data['digit'].apply(len)
    digit = spam_data.groupby('target')['digitlength'].agg(np.mean)
    return digit[0],digit[1]

In [48]:
answer_eight()

(0.29927461139896372, 15.759036144578314)

### Question 9

Fit and transform the training data `X_train` using a Tfidf Vectorizer ignoring terms that have a document frequency strictly lower than **5** and using **word n-grams from n=1 to n=3** (unigrams, bigrams, and trigrams).

Using this document-term matrix and the following additional features:
* the length of document (number of characters)
* **number of digits per document**

fit a Logistic Regression model with regularization `C=100`. Then compute the area under the curve (AUC) score using the transformed test data.

*This function should return the AUC score as a float.*

In [64]:
from sklearn.linear_model import LogisticRegression

def answer_nine():
    vect = TfidfVectorizer(min_df=5, ngram_range=(1, 3)).fit(X_train)
    X_trainlen = X_train.apply(len)
    X_traindigit = X_train.str.findall(r'\d').apply(len)
    X_trainadd = add_feature(vect.transform(X_train), X_trainlen)
    X_trainadd = add_feature(X_trainadd, X_traindigit)
    X_testlen = X_test.apply(len)
    X_testdigit = X_test.str.findall(r'\d').apply(len)
    X_testadd = add_feature(vect.transform(X_test), X_testlen)
    X_testadd = add_feature(X_testadd, X_testdigit)
    clf = LogisticRegression(C=100).fit(X_trainadd, y_train)
    
    return roc_auc_score(y_test, clf.predict(X_testadd))

872      0
831      2
1273     5
3314    14
4929     0
4249     0
3640     3
1132     0
3318     0
5241     0
3534     0
1380     0
526     24
2448     0
4029     0
641      0
5570     0
5111     0
1864     0
4082     0
1766    16
2460     0
3124    20
1115     0
2137     0
4074     1
2347     0
70       0
4636     0
3888     0
        ..
423     21
3219     0
659     21
797      0
755      0
2008     0
99       0
2496     0
1871     1
2046     0
4851     0
5072     1
2163     0
2893     0
537      0
1701     0
2897     1
2222     0
2135     0
2599     0
705      0
3468     0
4373     0
1033     0
4859     1
4931     1
3264    33
1653     0
2607     0
2732     0
Name: text, Length: 4179, dtype: int64

In [65]:
answer_nine()

0.96533283533945646

### Question 10

What is the average number of non-word characters (anything other than a letter, digit or underscore) per document for not spam and spam documents?

*Hint: Use `\w` and `\W` character classes*

*This function should return a tuple (average # non-word characters not spam, average # non-word characters spam).*

,text,target,length,digit,digitlength
0,"Go until jurong point, crazy.. Available only ...",0,111,[],0
1,Ok lar... Joking wif u oni...,0,29,[],0
2,Free entry in 2 a wkly comp to win FA Cup fina...,1,155,"[2, 2, 1, 2, 0, 0, 5, 8, 7, 1, 2, 1, 0, 8, 4, ...",25
3,U dun say so early hor... U c already then say...,0,49,[],0
4,"Nah I don't think he goes to usf, he lives aro...",0,61,[],0

In [69]:
def answer_ten():
    
    spam_data['nonword'] = spam_data['text'].str.findall(r'\W').apply(len)
    nonword = spam_data.groupby('target')['nonword'].agg(np.mean)
    return nonword[0],nonword[1]

In [70]:
answer_ten()

(17.291813471502589, 29.041499330655956)

### Question 11

Fit and transform the training data X_train using a Count Vectorizer ignoring terms that have a document frequency strictly lower than **5** and using **character n-grams from n=2 to n=5.**

To tell Count Vectorizer to use character n-grams pass in `analyzer='char_wb'` which creates character n-grams only from text inside word boundaries. This should make the model more robust to spelling mistakes.

Using this document-term matrix and the following additional features:
* the length of document (number of characters)
* number of digits per document
* **number of non-word characters (anything other than a letter, digit or underscore.)**

fit a Logistic Regression model with regularization C=100. Then compute the area under the curve (AUC) score using the transformed test data.

Also **find the 10 smallest and 10 largest coefficients from the model** and return them along with the AUC score in a tuple.

The list of 10 smallest coefficients should be sorted smallest first, the list of 10 largest coefficients should be sorted largest first.

The three features that were added to the document term matrix should have the following names should they appear in the list of coefficients:
['length_of_doc', 'digit_count', 'non_word_char_count']

*This function should return a tuple `(AUC score as a float, smallest coefs list, largest coefs list)`.*

In [81]:
def answer_eleven():
    vect = CountVectorizer(min_df=5, ngram_range=(2,5),analyzer='char_wb' ).fit(X_train)
    X_trainlen = X_train.apply(len)
    X_traindigit = X_train.str.findall(r'\d').apply(len)
    X_tr_nonword = X_train.str.findall(r'\W').apply(len)
    X_trainadd = add_feature(vect.transform(X_train), X_trainlen)
    X_trainadd = add_feature(X_trainadd, X_traindigit)
    X_trainadd = add_feature(X_trainadd, X_tr_nonword)
    
    X_testlen = X_test.apply(len)
    X_testdigit = X_test.str.findall(r'\d').apply(len)
    X_te_nonword = X_test.str.findall(r'\W').apply(len)
    X_testadd = add_feature(vect.transform(X_test), X_testlen)
    X_testadd = add_feature(X_testadd, X_testdigit)
    X_testadd = add_feature(X_testadd, X_te_nonword)
    
    model = LogisticRegression(C=100).fit(X_trainadd, y_train)
    feature_names = np.array(vect.get_feature_names())
    sorted_coef_index = model.coef_[0].argsort()
    feature = np.concatenate([feature_names,np.array(['length_of_doc', 'digit_count', 'non_word_char_count'])])
    return roc_auc_score(y_test, model.predict(X_testadd)), feature[sorted_coef_index[:10]], feature[sorted_coef_index[:-11:-1]]

In [82]:
answer_eleven()

(0.97885931107074342,
 array(['. ', '..', '? ', ' i', ' y', ' go', ':)', ' h', 'go', ' m'],
       dtype='<U19'),
 array(['digit_count', 'ne', 'ia', 'co', 'xt', ' ch', 'mob', ' x', 'ww',
        'ar'],
       dtype='<U19'))